<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Ruh Hali Not Defteri"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />

        <activity
            android:name=".EditDiaryActivity"
            android:exported="false" />

        <activity
            android:name=".DiaryListActivity"
            android:exported="false" />

        <activity
            android:name=".AddDiaryActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
